/* <!-- For Tablets --> */
@media screen and (max-width:979px) and (min-width:768px) {

    /* First section */
    .nav-link:hover::before{
        width: 0%;
    }
    .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
        display: block;
        margin-top: 0px;
    }
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 64%;
    }
    .nav-link:hover{
        color:#0078FF !important;
    }
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.838);
        padding: 20px 0px ;
    }
    .nav-link{
        color: #4E4E4E !important;
        margin: 3px 0px;
    }
    .dropdown-menu{
        text-align: center !important;
        padding: 0 !important;
    }
    /* --------------------------- */
    /* Section Two */
    .home-parent{
        flex-wrap: wrap;  
        padding: 10px;
        row-gap: 20px;
    }
    .h-child{
        width:100%;
    }
    .flex-parent{
        column-gap: 100px;
        justify-content: center;
    }
    .h-child2 p{
        font-size: 17px !important;
    }
    /* --------------------------- */
    /* Section Three */
    .s-card{
        width: 100% !important;
    }
    /* --------------------------- */
    /* Section Six */
    .carousel-item img{
        width: 25% !important;
    }
    }
    
    /* /* ------------------------------------------------------------------------------------------------------- */
    
    /* <!-- For Large Phones --> */
    @media screen and (max-width:767px) and (min-width:501px) {
    
    /* First section */
    .nav-link:hover::before{
        width: 0%;
    }
    .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
        display: block;
        margin-top: 0px;
    }
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 68.5%;
    }
    .nav-link:hover{
        color:#0078FF !important;
    }
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.838);
        padding: 20px 0px ;
    }
    .nav-link{
        color: #4E4E4E !important;
        margin: 3px 0px;
    }
    .dropdown-menu{
        text-align: center !important;
        padding: 0 !important;
    }
    /* --------------------------- */
    /* Section Two */
    .home-parent{
        flex-wrap: wrap;  
        padding: 10px;
        row-gap: 20px;
    }
    .h-child{
        width:100%;
    }
    .flex-parent{
        column-gap: 50px;
    }
    .h-child2 p{
        font-size: 17px !important;
    }
    /* --------------------------- */
    /* Section Three */
    .s-card{
        width: 100% !important;
    }
    /* --------------------------- */
    /* Section Six */
    .carousel-item img{
        width: 35% !important;
    }
    }
    
    /* /* ------------------------------------------------------------------------------------------------------- */
    
    /* <!-- For Small Mobiles -->  */
    @media screen and (max-width:500px) {
    
    /* First section */
    .home-cont h1{
        font-size: 70px;
        font-weight: 600;
    }
    .home-cont p{
        font-size: 25px;
    }
    .nav-link:hover::before{
        width: 0%;
    }
    .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
        display: block;
        margin-top: 0px;
    }
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 68.5%;
    }
    .nav-link:hover{
        color:#0078FF !important;
    }
    .navbar-nav {
        background-color: rgba(255, 255, 255, 0.838);
        padding: 20px 0px ;
    }
    .nav-link{
        color: #4E4E4E !important;
        margin: 3px 0px;
    }
    .dropdown-menu{
        text-align: center !important;
        padding: 0 !important;
    }
    /* --------------------------- */
    /* Section Two */
    .home-parent{
        flex-wrap: wrap;  
        padding: 10px;
        row-gap: 20px;
    }
    .h-child{
        width:100%;
    }
    .flex-parent{
        column-gap: 50px;
    }
    /* --------------------------- */
    /* Section Three */
    .s-card{
        width: 100% !important;
    }
    /* --------------------------- */
    /* Section Six */
    .carousel-item img{
        width: 35% !important;
    }
    }
    /* ------------------------- */
    /* THE END */